<div class="s-hero_experiment -visible" style="--hideGL: 0;"></div>

<section class="o-section -hero" data-scroll-target="hero" data-module-hero style="--bgsProgress: 1; --bgEndProgress: 0;">
    <div class="s-hero">
        <img src="images/logo_eah.png" alt="EAH - Echedey Aguilar Hernández" class="s-hero_logo" />
        <div class="s-hero_background">
            <div class="s-hero_background_start">
                <picture>
                    <source srcset="images/mobile/hero-1.avif" media="(max-width: 1000px)" />
                    <img src="images/hero-1.avif" alt="" />
                </picture>
            </div>
            <div class="s-hero_background_end">
                <picture>
                    <source srcset="images/mobile/hero-2.avif" media="(max-width: 1000px)" />
                    <img src="images/hero-2.avif" alt="" />
                </picture>
            </div>
        </div>

        <h1 class="c-heading -h1 s-hero_title">
            <div class="line" data-module-split data-split="words">Bienvenidos, </div>
            <div class="s-hero_title_rotator-wrap line">
                <span class="word">a mi</span>
                <ul class="s-hero_title_rotator">
                    <li data-module-split data-split="words">Portfolio.</li>
                    <li data-module-split data-split="words">Proyecto.</li>
                    <li data-module-split data-split="words">Futuro.</li>
                </ul>
            </div>
        </h1>

        <div class="c-sp1 s-hero_content" data-module-split data-split="lines,words">
            Echedey Aguilar Hernández
            <br> Apasionado por la tecnología, la robótica, la innovación y la naturaleza.<br>
        </div>
    </div>

    <div class="o-section_trigger" data-scroll data-scroll-call="changeTitle, SectionTitle" data-scroll-offset="50%,50%"
        data-scroll-repeat data-section-title-hide></div>
    <div class="o-section_trigger -toggle-bgs" data-scroll data-scroll-event-progress="toggleBgs"
        data-scroll-offset="0%,100%"></div>
    <div class="o-section_trigger -hide-bgs" data-scroll data-scroll-event-progress="hideBgs"
        data-scroll-offset="0%,100%"></div>
    <div class="o-section_trigger -outro-gl" data-scroll data-scroll-call="toggleGL, Hero" data-scroll-repeat
        data-scroll-event-progress="outroGL" data-scroll-offset="0%,100%"></div>
    <div class="o-section_trigger -hide-contents" data-scroll data-scroll-event-progress="hideContents"
        data-scroll-offset="0%,100%"></div>
</section>
